body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

header {
    background-color: #ff6347;
    color: white;
    padding: 1em 0;
    text-align: center;
}

h1 {
    margin: 0;
}

main {
    padding: 2em;
}

.lugar {
    margin-bottom: 2em;
}

.lugar img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    margin-top: 10px;
}

h2 {
    color: #ff6347;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}